/MarsRover.Test/bin/Debug/MarsRover.Logic.dll
/MarsRover.Test/bin/Debug/MarsRover.Logic.pdb
/MarsRover.Test/bin/Debug/MarsRover.Test.dll
/MarsRover.Test/bin/Debug/MarsRover.Test.pdb
/MarsRover.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/MarsRover.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/MarsRover.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/MarsRover.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/MarsRover.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/MarsRover.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/MarsRover.Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/MarsRover.Test/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/MarsRover.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MarsRover.Test/obj/Debug/MarsRover.Test.csproj.CopyComplete
/MarsRover.Test/obj/Debug/MarsRover.Test.csproj.CoreCompileInputs.cache
/MarsRover.Test/obj/Debug/MarsRover.Test.csproj.FileListAbsolute.txt
/MarsRover.Test/obj/Debug/MarsRover.Test.csprojAssemblyReference.cache
/MarsRover.Test/obj/Debug/MarsRover.Test.dll
/MarsRover.Test/obj/Debug/MarsRover.Test.pdb
/MarsRover.Logic/Properties
/MarsRover.Test/Properties
/MarsRover/bin/Debug/MarsRover.Logic.dll
/MarsRover/bin/Debug/MarsRover.Logic.pdb
/MarsRover/bin/Debug/MarsRover.exe
/MarsRover/bin/Debug/MarsRover.exe.config
/MarsRover/bin/Debug/MarsRover.pdb
/MarsRover/bin/Debug/System.Buffers.dll
/MarsRover/bin/Debug/System.Buffers.xml
/MarsRover/bin/Debug/System.Collections.Immutable.dll
/MarsRover/bin/Debug/System.Collections.Immutable.xml
/MarsRover/bin/Debug/System.Memory.dll
/MarsRover/bin/Debug/System.Memory.xml
/MarsRover/bin/Debug/System.Numerics.Vectors.dll
/MarsRover/bin/Debug/System.Numerics.Vectors.xml
/MarsRover/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/MarsRover/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/MarsRover/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/MarsRover/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MarsRover/obj/Debug/MarsRover.csproj.CopyComplete
/MarsRover/obj/Debug/MarsRover.csproj.CoreCompileInputs.cache
/MarsRover/obj/Debug/MarsRover.csproj.FileListAbsolute.txt
/MarsRover/obj/Debug/MarsRover.csprojAssemblyReference.cache
/MarsRover/obj/Debug/MarsRover.exe
/MarsRover/obj/Debug/MarsRover.pdb
/MarsRover/Properties
